$max-width: 1400px;
$grid1: 8.333333333%;
$grid2: 16.66666667%;
$grid3: 25%;
$grid4: 33.33333333%;
$grid5: 41.66666667%;
$grid6: 50%;
$grid7: 58.33333333;
$grid8: 66.66666667%;
$grid9: 75%;
$grid10: 83.33333333%;
$grid11: 91.66666667%;
$grid12: 100%;