@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $Grey222;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

a {
  color: $Grey222;
}

button {
  background-color: $Grey222;
  border: 1px solid $Black000;
  border-radius: 5px;
  color: $eeeWhite;
  padding: 0.5rem;
  transition:
    color 300ms ease-in-out,
    background-color 300ms ease-in-out;
  word-break: initial;

  &:hover {
    background-color: $eeeWhite;
    color: $Grey222;
  }

  &:active {
    background-color: $Grey222;
    border: 1px solid $Black000;
    color: $eeeWhite;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Montaga', Georgia, serif;
}
